blinker==1.9.0
click==8.4.1
Flask==3.0.0
Flask-MySQLdb==2.0.0
gunicorn==26.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mysqlclient==2.2.0
packaging==26.2
python-dotenv==1.0.0
Werkzeug==3.0.1
